<p *ngIf="isLoading" class="loading-text">Loading vehicle details...</p>

<div class="back-to-list-buttons">
  <button
    pButton
    label="Back to List"
    class="p-button-secondary"
    icon="pi pi-arrow-left"
    (click)="goBack()"
  ></button>
</div>

<!--Show Error Message if API Fails -->
<div class="error-container" *ngIf="isError">
  <p class="error-message">{{ errorMessage }}</p>
  <button
    pButton
    label="Retry"
    icon="pi pi-refresh"
    class="p-button-warning"
    (click)="retry()"
  ></button>
  <button
    pButton
    label="Back to List"
    icon="pi pi-arrow-left"
    class="p-button-secondary"
    (click)="goBack()"
  ></button>
</div>

<!-- Show Vehicle Details -->
<div class="vehicle-details-container" *ngIf="vehicle && !isError">
  <p-card class="vehicle-details-card">
    <ng-template pTemplate="header">
      <div class="vehicle-header">
        <h2 class="vehicle-name">{{ vehicle.name }}</h2>
      </div>
    </ng-template>

    <div class="vehicle-info">
      <p><strong>Manufacturer:</strong> {{ vehicle.manufacturer }}</p>
      <p><strong>Model:</strong> {{ vehicle.model }}</p>
      <p *ngIf="vehicle.mileage">
        <strong>Mileage:</strong> {{ vehicle.mileage }} km
      </p>
      <p *ngIf="vehicle.fuel"><strong>Fuel Type:</strong> {{ vehicle.fuel }}</p>
      <p *ngIf="vehicle.type">
        <strong>Vehicle Type:</strong> {{ vehicle.type }}
      </p>
      <p *ngIf="vehicle.vin"><strong>VIN:</strong> {{ vehicle.vin }}</p>
    </div>
  </p-card>
</div>
