.back-to-list-buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px;

}


.vehicle-details-container {
  padding: 20px;
}

.vehicle-details-card {
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
  background: var(--surface-ground);
}

.vehicle-header {
  background: linear-gradient(135deg, #f39a2e 0%, #e6821f 100%);
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.vehicle-name {
  text-transform: capitalize;
  font-size: 1.3rem;
}

.vehicle-info {
  padding: 20px;
  font-size: 1rem;
  color: var(--text-color);
}

.vehicle-info p {
  margin: 8px 0;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.loading-text,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.error-message {
  color: var(--red-500);
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .error-message {
    font-size: 1rem;
  }
}
